@charset "UTF-8";
/* 폰트 Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 0.8rem 3rem;
  background: #bac34e;
  color: #fff;
  font-size: 1.7rem;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}

main {
  padding: 0 10%;
}

.heading {
  padding-top: 12rem;
  padding-bottom: 8rem;
  background: url(../imgs/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.heading h1 {
  color: #222;
  font-size: 4rem;
  font-weight: 600;
}

.heading p {
  padding-top: 1rem;
  font-size: 2rem;
  color: #666;
}

.heading p a {
  color: #222;
  padding-right: 0.5rem;
}

.heading p a:hover {
  color: #bac34e;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  padding: 1.2rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
  color: #222;
}

.title span {
  color: #bac34e;
  padding-left: 1rem;
}

.title a {
  margin-left: auto;
  color: #666;
  font-size: 1.5rem;
}

.title a:hover {
  color: #bac34e;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header, main {
    padding: 2rem;
  }
}

.about {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.about .image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .image img {
  width: 100%;
}

.about .content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
}

.about .content span {
  color: #bac34e;
  font-size: 2.5rem;
}

.about .content h3 {
  color: #222;
  font-size: 3rem;
  font-weight: 600;
  padding-top: 0.5rem;
}

.about .content p {
  color: #666;
  font-size: 1.4rem;
  line-height: 2.2rem;
  padding: 1rem 0;
}

.gellery > .box-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.gellery > .box-wrapper .box {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.gellery > .box-wrapper .box:hover > img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.gellery > .box-wrapper .box:hover > .icons {
  bottom: 0;
}

.gellery > .box-wrapper .box img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gellery > .box-wrapper .box .icons {
  padding: 1.5rem 0;
  position: absolute;
  bottom: -6rem;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
}

.gellery > .box-wrapper .box .icons a {
  font-size: 2.5rem;
  color: #fff;
  margin: 0 1.5rem;
}

.gellery > .box-wrapper .box .icons a:hover {
  color: #bac34e;
}
/*# sourceMappingURL=about.css.map */