/* 폰트 Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

// 변수

$green:#bac34e;
$black:#222;
$white:#fff;
$light-color:#666;
$light-bg:#f3f3f3;

$border:0.1rem solid rgba(0,0,0,0.1);
$box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);

// 믹스인

@mixin grid($value){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
    gap:1.5rem;
}

.btn{ // 공통 버튼 스타일    
    margin-top: 1rem;
    display: inline-block;
    padding:0.8rem 3rem;
    background: $green;
    color:$white;
    font-size:1.7rem;
    text-align: center;
    cursor: pointer;
    &:hover{
        background: $black;
    }
}

main{
    padding:0 10%;
}

.heading{ // 서브페이지 헤더
    padding-top: 12rem;
    padding-bottom: 8rem;
    background: url(../imgs/heading-bg.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    h1{
        color:$black;
        font-size:4rem;
        font-weight: 600
    }
    p{
        padding-top: 1rem;
        font-size:2rem;
        color:$light-color;
        a{
            color:$black;
            padding-right: 0.5rem;
            &:hover{
                color:$green;
            }
        }
    }
}

.title{
    display: flex;
    align-items: center;
    font-size:2.5rem;
    font-weight: bold;
    margin-bottom: 3rem;
    padding:1.2rem 0;
    border-bottom: $border;
    color:$black;
    span{
        color:$green;
        padding-left: 1rem;
    }
    a{
        margin-left: auto;
        color:$light-color;
        font-size:1.5rem;
        &:hover{
            color:$green;
        }
    }
}

@media screen and (max-width:450px){ // 모바일
    
    html{
        font-size: 50%;
    }
    
}

@media screen and (max-width:991px){ // PC
    
    html{
        font-size: 55%;
    }

    header, main{
        padding:2rem;
    }

}