@import "common.scss";

.home{
    position: relative;
    padding: 0 10%;
    padding-top:14rem;
    background: url(../imgs/heading-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    .slide-wrapper{
        .slide{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1.5rem;
            display: none;
            &.active{
                display: flex;
            }
            .content{
                flex:1 1 40rem;
                animation: fadeLeft 0.4s linear;
                span{
                    color:$light-color;
                    font-size:2.5rem;
                }
                h3{
                    font-size:6rem;
                    font-weight: 600;
                    color:$black;
                    padding:2rem 0;
                }
            }
            .image{
                flex:1 1 40rem;
                img{
                    width:100%;
                    max-width: 50rem;
                    max-height: 40rem;
                    animation: fadeUp 0.4s linear;
                }
            }
        }
    }   
}

#next, #prev{ // 슬라이드 버튼
    position: absolute;
    top:50%;
    transform: translateY(-50%);        
    line-height:5rem;
    width:5rem;
    box-shadow: $box-shadow;
    text-align: center;
    background:$white;
    font-size:3rem;
    color:$black;
    cursor: pointer;
    &:hover{
        background: $green;
        color:$white;
    }
}
#next{
    right:2rem;
}
#prev{
    left:2rem;
}

@keyframes fadeLeft{ 
    0%{
        transform: translateX(5rem);
        opacity: 0;
    }
}

@keyframes fadeUp{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
}

@media screen and (max-width:450px){ // 모바일
    
   .home > .slide-wrapper > .slide > .content > h3{
       font-size:5rem;
   }
    
}

@media screen and (max-width:991px){ // PC    
    
    .home{
        padding:2rem;
    }
    
    #next, #prev{ // 슬라이드 버튼
        top:calc(100% - 7rem);
        transform: translateY(0);
    }    

    #prev{
        left:auto;
        right:8rem;
    }

}